In [3]:
!pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/c0/ca/54fe0ae783ce81a467710d1c5fb41cfca075121139b48327b807020dc40c/mlxtend-0.16.0-py2.py3-none-any.whl (1.3MB)
Requirement already satisfied: numpy>=1.10.4 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.15.4)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (0.20.2)
Requirement already satisfied: pandas>=0.17.1 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: matplotlib>=1.5.1 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (3.0.2)
Requirement already satisfied: setuptools in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (40.7.3)
Requirement already satisfied: scipy>=0.17 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from pandas>=0.17.1->mlxtend) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (2.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\mansi\miniconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.17.1->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.16.0

In [4]:
from mlxtend.preprocessing import TransactionEncoder

In [13]:
import pandas as pd
from mlxtend.frequent_patterns import apriori

In [5]:
dataset=[
        ['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
        ['dill','onion','numtmeg','kidney beans','eggs','yogurt'],
        ['milk','apple','kidney beans','eggs'],
        ['milk','unicorn','corn','kidney beans','yogurt'],
        ['corn','onion','onion','kidney beans','ice cream','eggs']
        ]
#each row can be considered as a seperate bill

In [10]:
te=TransactionEncoder()
#transforming dataset according to the dataframe needed.
trans=te.fit(dataset).transform(dataset)
print(te.columns_)
trans

['apple', 'corn', 'dill', 'eggs', 'ice cream', 'kidney beans', 'milk', 'numtmeg', 'nutmeg', 'onion', 'unicorn', 'yogurt']

array([[False, False, False,  True, False,  True,  True, False,  True,
         True, False,  True],
       [False, False,  True,  True, False,  True, False,  True, False,
         True, False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False, False],
       [False,  True, False, False, False,  True,  True, False, False,
        False,  True,  True],
       [False,  True, False,  True,  True,  True, False, False, False,
         True, False, False]])

In [12]:
df=pd.DataFrame(trans,columns=te.columns_)
df

,apple,corn,dill,eggs,ice cream,kidney beans,milk,numtmeg,nutmeg,onion,unicorn,yogurt
0,False,False,False,True,False,True,True,False,True,True,False,True
1,False,False,True,True,False,True,False,True,False,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False,False
3,False,True,False,False,False,True,True,False,False,False,True,True
4,False,True,False,True,True,True,False,False,False,True,False,False

In [19]:
# to calculate the support of each item.
ap=apriori(df,min_support=0.6,use_colnames=True)
# min_support is the threshold value for the support
#use_colnames=true shows the coloumn name in the itemsets column.
ap

    support                     itemsets
0       0.8                       (eggs)
1       1.0               (kidney beans)
2       0.6                       (milk)
3       0.6                      (onion)
4       0.6                     (yogurt)
5       0.8         (eggs, kidney beans)
6       0.6                (onion, eggs)
7       0.6         (milk, kidney beans)
8       0.6        (onion, kidney beans)
9       0.6       (yogurt, kidney beans)
10      0.6  (onion, eggs, kidney beans)

In [21]:
# to add a new column in the apriori model,to keep the length of the itemsets.
ap['length'] = ap['itemsets'].apply(lambda x:len(x))
ap

    support                     itemsets  length
0       0.8                       (eggs)       1
1       1.0               (kidney beans)       1
2       0.6                       (milk)       1
3       0.6                      (onion)       1
4       0.6                     (yogurt)       1
5       0.8         (eggs, kidney beans)       2
6       0.6                (onion, eggs)       2
7       0.6         (milk, kidney beans)       2
8       0.6        (onion, kidney beans)       2
9       0.6       (yogurt, kidney beans)       2
10      0.6  (onion, eggs, kidney beans)       3

In [26]:
#to find which two items are sold together,and their support is greater than 0.8, by calculating the confidence
print ( ap[ (ap['length']==2) & (ap['support']>=0.8) ] )

   support              itemsets  length
5      0.8  (eggs, kidney beans)       2

In [27]:
#to find which three items can be sold together
print( ap[ (ap['length']==3) & (ap['support']>=0.6) ] )

    support                     itemsets  length
10      0.6  (onion, eggs, kidney beans)       3